<section class="container">
    <header class="header d-flex">
        <div class="buscar-pensamentos">
            <input 
                class="filtro" 
                placeholder="O que você procura?"
                autofocus
                [(ngModel)]="filtro" 
                >
            <img src="../../../../assets/imagens/lupa.png" alt="Lupa azul">
        </div>
        <h2 class="ff-inter">Meu Mural</h2>
        <button [routerLink]="['/criar-pensamento']" class="botao">Adicionar pensamento</button>
    </header>
    <div class="mural">
        <app-pensamentos class="mural" [pensamentos]="pensamentos"></app-pensamentos>
    </div>
</section>

<app-carregar-mais 
    [haMaisPensamentos]="haMaisPensamentos"
    (click)="carregarMais()"></app-carregar-mais>