<section class="container criar-pensamentos ff-inter">
    <header class="header">
        <h2>Adicione um <br>pensamento novo:</h2>
    </header>
    <form [formGroup]="form">
        <label for="pensamento">Pensamento</label>
        <input type="text" class="input" id="pensamento" formControlName="pensamento" name="pensamento" placeholder="Digite um pensamento" [(ngModel)]="pensamento.conteudo">

        @if (form.get('pensamento')?.hasError('required') && form.get('pensamento')?.touched) {
            <div class="mensagem__erro" >
                Pensamento é obrigatório!
            </div>
        }

        @if (form.get('pensamento')?.hasError('minlength') && form.get('pensamento')?.dirty) {
            <div class="mensagem__erro" >
                Pensamento deve conter no minimo 5 caracteres!
            </div>
        }

        @if (form.get('pensamento')?.hasError('maxlength') && form.get('pensamento')?.dirty) {
            <div class="mensagem__erro" >
                Pensamento deve conter no máximo 100 caracteres!
            </div>
        }

        <label for="autoria">Autoria</label>
        <input type="text" class="input" id="autoria" formControlName="autoria" name="autoria" placeholder="Digite a autoria ou fonte" [(ngModel)]="pensamento.autoria">


        @if (form.get('autoria')?.hasError('required') && form.get('autoria')?.touched) {
            <div class="mensagem__erro" >
                Autoria é obrigatório!
            </div>
        }

        @if (form.get('autoria')?.hasError('minlength') && form.get('autoria')?.touched) {
            <div class="mensagem__erro" >
                Autoria deve conter no minimo 3 caracteres!
            </div>
        }

        @if (form.get('autoria')?.hasError('maxlength') && form.get('autoria')?.touched) {
            <div class="mensagem__erro" >
                Autoria deve conter no máximo 50 caracteres!
            </div>
        }

        <label for="modelo">Selecione o modelo do card:</label>
        <div class="container-radio">
            @for (modelo of modelos; track modelo.id) {
                <div class="radio-modelo">
                    <label [for]="modelo.informacao">
                        <input type="radio" [id]="modelo.informacao" [value]="modelo.informacao" formControlName="modelo" name="modelo" [(ngModel)]="pensamento.modelo">
                        <div class="custom-radio">
                            <span></span>
                        </div>
                        <span>{{ modelo.label }}</span>
                    </label>
                    Prévia:
                    <div [class]="modelo.informacao" class="modelo ff-roboto-mono">
                        <img [src]="modelo.imagem" alt="Aspas azuis">
                        <p class="conteudo">{{ pensamento.conteudo }}</p>
                        <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
                    </div>
                </div>
            }
        </div>
        <div class="acoes">
            <button [disabled]="!form.valid" [ngClass]="{'botao__desabilitado': !form.valid}" (click)="editar()" class="botao">Editar</button>
            <button [routerLink]="['/']" class="botao">Cancelar</button>
        </div>
    </form>
</section>